<launch>


  <include file="$(find tiago_pcl_tutorial)/launch/segment_table.launch">
          <arg name="show_rviz" value="false" />
          <arg name="frame" value="/base_link" />
          <arg name="passthrough_min" value="0.0" />
          <arg name="downsampling_size" value="0.01" />
  </include>

  <node name="wm_object_segmentation" pkg="wm_object_segmentation" type="segmentation" output="screen"/>

</launch>